*{
    margin: auto;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #969696;
    
    
}


nav{
    background-color: #D9D9D9;
    width: 90vw;
    height: 55px;
    border-radius: 50px; 
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 30px;
}

nav ul li{ 
    display: inline-block;
}

nav ul li a{
    color: #000;
    justify-content: space-between;
    margin:85px;
}

nav img{ 
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 5px;
}

.container{
    padding-top: 20px;
    padding-bottom: 20PX;
    width: 90vw;
    height: 200px;
    display: flex;
}

.content_1{
    width: 390px;
    height: 180px;
    background-color: #D9D9D9;
    border-radius: 25px;
    text-align: center;
}


.content_1 h1{
    font-size: 20px;
}

.list_account{
    background-color: #D9D9D9;
    width: 1200px;
    height: 310px;
    border-radius: 25PX;
}

.list_account table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}




