.customers{
    margin-top: 50px;
    width: 1200px;
    height: 500px;
    background-color: #d9d9d9;
    border-radius: 20px;
}

.car_container{
    width: 1200px;
    height: 250px;
    display: flex;
}

.car_container img{
    width: 300px;
    height: 200px;
}


.car_owner{
    width: 1200px;
    background-color: rgb(163, 121, 121);
    height: 250px;
}